
.cabecera{
    margin: 5px;
    border-radius: 10px;
}
 .cabecera2{
        width: 120px;
	height: 95px;
	padding: 10px;
	margin: -10px; 	
}
 
 .cabecera1{
    width: 120px;
	height: 95px;
	padding: 10px;
	margin: -10px; 	
}

 .logo1{
	height: 30px;
        
}
.textt1{
    text-align: center;
    margin-top: -20px;
}
.textt2{
    text-align: center;
    margin-top: -20px;
}
 .logo2{
    height: 30px;
    
 }
.menu{
 	margin: 5px;
 	border-radius: 10px;
       

 }

 .piecera{

    background:#FA1111; 
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;   
    border-radius: 10px;
    font-family: bold;
    text-align: center;
    margin-top: 125px;
 }

#cuerpo{

	text-align: justify; 
	width: 250px;
	margin-top: -450px;
	margin-left: 750px;
}

.bienvcar{
   margin:5px; 
}


.slide,.item{      
	width: 460px;
	height: 300px;
        margin: auto;
}  

.carousel-control{
	
	height: 300px;
	

}

#loc{
margin-left: 300px;

}

.rep{


	margin: 5px;
    
}
.rep1{


	margin: 5px;
    
}
#reg_pro{
  font-size: 100%;
	margin-left: 500px;
}

.geme{

	font-size: 100%;
	margin-left: 500px;

}

